apiVersion: v1
kind: ConfigMap
metadata:
  name: api-gateway-config
  namespace: microservices
data:
  application.properties: |
    spring.application.name=API_GATEWAY
    server.port=4000

    eureka.client.serviceUrl.defaultZone=https://microservices-eureka-registry.onrender.com/eureka/
    eureka.instance.prefer-ip-address=true
    eureka.client.fetch-registry=true
    eureka.client.register-with-eureka=true
    eureka.instance.lease-renewal-interval-in-seconds=30
    eureka.instance.lease-expiration-duration-in-seconds=90

    eureka.client.healthcheck.enabled=true

    management.endpoints.web.exposure.include=*
    management.endpoint.health.show-details=always

    logging.level.org.springframework.cloud.gateway=TRACE
