apiVersion: v1
kind: ConfigMap
metadata:
  name: faculty-service-config
  namespace: microservices
data:
  application.properties: |
    spring.application.name=FACULTY_SERVICE
    server.port=4002
    #Database Configuration
    spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
    spring.datasource.url=jdbc:mysql://mysql-15a08a73-harshapattiputtoor-5758.k.aivencloud.com:15605/defaultdb
    spring.datasource.username=avnadmin
    spring.datasource.password=AVNS_7E-dgTxJDQFGldee5Hq
    spring.jpa.show-sql=true
    spring.jpa.generate-ddl=true
    spring.jpa.hibernate.ddl-auto=update

    #Mail Configuration
    spring.mail.host=smtp.gmail.com
    spring.mail.port=587
    spring.mail.username=shvorganizations@gmail.com
    spring.mail.password=erct tjwu umdg dyac
    spring.mail.properties.mail.smtp.auth=true
    spring.mail.properties.mail.smtp.starttls.enable=true

    spring.jackson.serialization.FAIL_ON_EMPTY_BEANS=false

    spring.thymeleaf.cache=false
    spring.thymeleaf.prefix=classpath:/templates/
    spring.thymeleaf.suffix=.html
    spring.thymeleaf.mode=HTML
    spring.thymeleaf.encoding=UTF-8
    spring.thymeleaf.enabled=true

    eureka.client.serviceUrl.defaultZone=https://microservices-eureka-registry.onrender.com/eureka/
    eureka.instance.prefer-ip-address=true
    eureka.client.fetch-registry=true
    eureka.client.register-with-eureka=true
    eureka.instance.lease-renewal-interval-in-seconds=30
    eureka.instance.lease-expiration-duration-in-seconds=90

    management.endpoints.web.base-path=/faculty/actuator
    management.endpoints.web.exposure.include=*
    management.endpoint.health.show-details=always
    opentracing.jaeger.enabled=true
    opentracing.jaeger.http-sender.url=http://jaeger-collector.istio-system:14268/api/traces
    # Health check settings (important)
    eureka.client.healthcheck.enabled=true
