apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-config-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/harshavardana-reddy/Kubernetes-Istio-ArgoCD-Autoscaler.git  # Update with your repo URL
    targetRevision: main
    path: istio/
  destination:
    server: https://kubernetes.default.svc
    namespace: microservices
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

